{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6">
        Welcome to Face Recognition Web App Project
    </h3>
    <br>
    <p>
        <h4 class="">Modules of the Face Recognition App</h4>
        <br>
        <img src="/static/images/content/modules.svg" class="image-fluid" width="900" alt="">
        <br><br>
        <h4 class="display-9">Process flow for training the Machine Learning model</h4>
        <br>
        <img src="/static/images/content/training_flow.svg" class="image-fluid" width="900" alt="">
        <br><br>
        <a href="/app/"> <input type="button" class="btn btn-outline-primary"  value="Use App"/> </a>
        
    </p>
</div>

{% endblock %}